<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>

    </style>
</head>
<body>
    <div class="header">
        <h1>Dashboard</h1>
    </div>

    <div class="container">
        <div class="card">
            <h2>Available items(24)</h2>
            <p>View the available items.</p>
            <a class="btn btn-primary btn-large btn-block" href="">View</a>


        </div>

        <div class="card">
            <h2>Items Sold(53)</h2>
            <p>View the items that you sold.</p>
            <a class="btn btn-primary btn-large btn-block" href="">View</a>

        </div>

        <div class="card">
            <h2>Pending Orders(17)</h2>
            <p>View your pending orders.</p>
            <a class="btn btn-primary btn-large btn-block" href="">View</a>
 


        </div>
    </div>

    <div class="footer">
        <p>&copy; For Those Concerned. Feel Free to Contact Me @kylechristianarandilla@gmail.com</p>
    </div>
</body>
</html>