<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <style>

    </style>
</head>
<body>
    <div class="header">
        <h1>Product</h1>
    </div>

    <div class="container">
        <div class="card">
            <h2>Item 1</h2>
            <p>Flava Oxbar 9500 Puffs</p>
            <p>10ML Capacity, 30MG Nic</p>
            <p>650mAh, Disposable</p>
            <img src="../../../assets/oxva.jpg" 
            alt="Description of the image" 
            class="right-aligned-image">
            <p>Price: $8.99</p>
        </div>

        <div class="card">
            <h2>Item 2</h2>
            <p>Flava HyperBar 10000 Puffs</p>
            <p>15ML Capacity, 30MG Nic</p>
            <p>750mAh, Disposable</p>
            <img src="../../../assets/hyperbar.jpg" 
            alt="Description of the image" 
            class="right-aligned-image">
            <p>Price: $8.99</p>
            
            
        </div>

        <div class="card">
            <h2>Item 3</h2>
            <p>Flava Romio 9500 Puffs</p>
            <p>15ML Capacity, 30MG Nic</p>
            <p>650mAh, Disposable</p>
            <img src="../../../assets/romio.jpg" 
            alt="Description of the image" 
            class="right-aligned-image">
            <p>Price: $9.49</p>
        </div>

        <div class="card">
            <h2>Item 4</h2>
            <p>Flava 8000 Puffs</p>
            <p>12ML Capacity, 30MG Nic</p>
            <p>600mAh, Disposable</p>
            <img src="../../../assets/flava1.jpg" 
            alt="Description of the image" 
            class="right-aligned-image">
            <p>Price: $8.49</p>
        </div>
        
    </div>
    

    <div class="footer">
        <p>&copy; For Those Concerned. Feel Free to Contact Me @kylechristianarandilla@gmail.com</p>
    </div>
</body>
</html>